<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'summerize_txt/style.css' %}">
    <link rel="icon" href="{% static 'summerize_txt/openai.png' %}">
    <title>Summerize text</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- Include jQuery -->

</head>
<body>
    <header >
        <nav class="navbar" >
            <span class="logo">
                <img class="logo_img" src="{% static 'summerize_txt/openai.png' %}" alt="logo">
                Generative AI
            </span>
            <span class="item">
                <a href="http://127.0.0.1:8000/">Home</a>
                <a href="">About</a>
            </span>
        </nav>
    </header>

    <section class="section1">
        <div class="container">
            <div class="heading">
                <h1>Summerize text with AI</h1>
            </div>
            <h3>Enter Text Here To Summerize:</h3>
           
            <textarea name="text" id="text_area" class="txt_area"></textarea>
            <!-- <form action="/index.html" method="post" class="form"> -->
            <div class="btn_div">
                <button  id="btn">Summerize</button>
            </div>
        
            <h3>Summerized:</h3>
            <div class="sum_div">
                <textarea name="text" id="summarized" class="sum_txt"></textarea>
            </div>
        </div>
    </section>

    <script>
         let summer = document.getElementById("summarized")
        $(document).ready(function () {
            // Handle button click using AJAX
            $("#btn").click(function () {
                 let text = document.getElementById("text_area").value;
                 console.log(text);
                $.ajax({
                    type: "GET",
                    url: "{% url 'summerize' %}",
                    data: { text_input: text },
                    success: function (response) {
                        // alert(response);
                        summer.innerText = `${response}`;
                        
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>