@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
}

.navbar{
    height: 5rem;
    width: 100%;
    /* background-color: #000000;  */
    background-color: #3498db; 
    background-color: #1c6456;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position:fixed;
    z-index: 1000;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    gap: 0.5rem;
    font-weight:bolder;
    font-size: 2rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.logo_img{
    height: 70px;
    width: 70px;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 10rem;
    
}

.item a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: x-large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.item a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.section1{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    display: flex;
    float: row;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    /* background-color: black; */
    background-color:#084d42;
}

div > img {
    width: 20px;
    height: 20px;
}

.side_bar{
    /* background-color: rgb(49, 46, 46); */
    background-color: rgb(49, 140, 119);
    min-height: 100vh;
    width: 15%;
    position: sticky;
    display: flex;
    justify-content: center;
}

.side_bar> div > p{
    font-size: 0.8rem;
    width: 10rem;
}

.side_txt{
    margin-top: 9rem;
    border: 2px solid white;
    border-radius: 10px;
    width: 10rem;
    height: 23rem;
    padding: 0.3rem;
}


#chat_container{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    width: 70%;
    min-height: 80vh;
    max-height: auto;
    overflow: hidden;
}

#chat-messages{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    /* background-color: blanchedalmond; */
}

.question{
    width: 100%;
    height: auto;
    /* background-color: blanchedalmond; */
}
.user{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.answer{
    width: 100%;
    height: auto;
    /* background-color: blue; */
}
.ai{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
#user-input{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: aqua; */
    position: sticky;
    align-items: center;
}

#user-message{
    width: 50rem;
    height: 4rem;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 15px;
    padding-left: 1rem;
    padding-right: 6rem;
    font-size:medium;
    font-weight: 400;
}

#send-button{
   width: 4rem;
   height: 3rem;
   font-size: 1rem;
   margin-left: -5rem;
   background-color: transparent;
   border-radius: 10px;
   outline: none;
   border: 2px solid white;
   cursor: pointer;
   transition: all 1s;
}
#answer_btn:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: black;
}

/* //////////////////// */
/* Style for the scrollbar */

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    
    background-color: #05695c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

::-webkit-scrollbar-button {
    display: none; 
}


.im{
    width: 50px;
    height: 30px;
    background-color: transparent;
}

.loader{
    width: 50px;
    height: 50px;
}